# Cấu hình API Service
APP_HOST=0.0.0.0
APP_PORT=8000
SERVICE_VERSION=0.1.0
AUTH_TOKEN=lab5-token-secret

# Cấu hình Database (PostgreSQL)
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password_secret
POSTGRES_DB=smart_campus_db
DB_HOST=db
DB_PORT=5432

# Cấu hình AI Service
AI_SERVICE_HOST=ai-service
AI_SERVICE_PORT=9000